* {
    margin= 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    
}

.form {
    max-width: 50%;
}

form>input {
    border-radius: 3px;
}

.personen {
    margin-top: 12px;
}

.container {
    display: flex;
}

.navbar {
    background-color: #DACFC8;
}

.nav-item,
.d-flex {
    margin-left: 5px;
    margin-right: 5px;
}
.dropdown-menu {
    padding: 5px;
}

form {
    margin: 5px;
}

.login {
    text-align: end;
}

.button {
    background-color:transparent;
    border-radius: 5px;
    color:#6B705C;
    text-align: center;
}



/* @media only screen and (max-width: 620px) {
    .header, .main, .right,.footer {
        width: 100%;
    }
}; */
